<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>A</key>
    <dict>
      <key>T</key>
      <integer>-89</integer>
      <key>U</key>
      <integer>-24</integer>
      <key>V</key>
      <integer>-86</integer>
      <key>W</key>
      <integer>-78</integer>
      <key>Y</key>
      <integer>-94</integer>
      <key>asterisk</key>
      <integer>-50</integer>
      <key>backslash</key>
      <integer>-52</integer>
      <key>f</key>
      <integer>-31</integer>
      <key>l</key>
      <integer>-5</integer>
      <key>o</key>
      <integer>-8</integer>
      <key>question</key>
      <integer>-49</integer>
      <key>t</key>
      <integer>-48</integer>
      <key>w</key>
      <integer>-53</integer>
    </dict>
    <key>B</key>
    <dict>
      <key>T</key>
      <integer>-5</integer>
      <key>V</key>
      <integer>-28</integer>
      <key>W</key>
      <integer>-21</integer>
      <key>X</key>
      <integer>-18</integer>
      <key>Y</key>
      <integer>-38</integer>
      <key>asterisk</key>
      <integer>-8</integer>
      <key>backslash</key>
      <integer>-40</integer>
      <key>f</key>
      <integer>-7</integer>
      <key>question</key>
      <integer>-13</integer>
      <key>questiondown</key>
      <integer>-7</integer>
      <key>slash</key>
      <integer>-17</integer>
      <key>t</key>
      <integer>-5</integer>
      <key>w</key>
      <integer>-8</integer>
      <key>x</key>
      <integer>-13</integer>
    </dict>
    <key>C</key>
    <dict>
      <key>A</key>
      <integer>-12</integer>
      <key>V</key>
      <integer>-12</integer>
      <key>X</key>
      <integer>-20</integer>
      <key>Y</key>
      <integer>-23</integer>
      <key>backslash</key>
      <integer>-23</integer>
      <key>questiondown</key>
      <integer>-17</integer>
      <key>s</key>
      <integer>-12</integer>
      <key>semicolon</key>
      <integer>-9</integer>
      <key>slash</key>
      <integer>-24</integer>
    </dict>
    <key>D</key>
    <dict>
      <key>A</key>
      <integer>-31</integer>
      <key>T</key>
      <integer>-12</integer>
      <key>V</key>
      <integer>-33</integer>
      <key>W</key>
      <integer>-19</integer>
      <key>X</key>
      <integer>-45</integer>
      <key>Y</key>
      <integer>-49</integer>
      <key>Z</key>
      <integer>-13</integer>
      <key>backslash</key>
      <integer>-41</integer>
      <key>comma</key>
      <integer>-15</integer>
      <key>questiondown</key>
      <integer>-36</integer>
      <key>slash</key>
      <integer>-41</integer>
    </dict>
    <key>E</key>
    <dict>
      <key>w</key>
      <integer>-10</integer>
    </dict>
    <key>F</key>
    <dict>
      <key>A</key>
      <integer>-80</integer>
      <key>J</key>
      <integer>-19</integer>
      <key>S</key>
      <integer>-14</integer>
      <key>a</key>
      <integer>-30</integer>
      <key>comma</key>
      <integer>-60</integer>
      <key>exclamdown</key>
      <integer>-13</integer>
      <key>g</key>
      <integer>-30</integer>
      <key>germandbls</key>
      <integer>-7</integer>
      <key>o</key>
      <integer>-23</integer>
      <key>questiondown</key>
      <integer>-52</integer>
      <key>s</key>
      <integer>-33</integer>
      <key>semicolon</key>
      <integer>-19</integer>
      <key>slash</key>
      <integer>-49</integer>
      <key>w</key>
      <integer>-20</integer>
      <key>x</key>
      <integer>-32</integer>
      <key>z</key>
      <integer>-30</integer>
    </dict>
    <key>G</key>
    <dict>
      <key>V</key>
      <integer>-31</integer>
      <key>W</key>
      <integer>-21</integer>
      <key>Y</key>
      <integer>-43</integer>
      <key>backslash</key>
      <integer>-41</integer>
    </dict>
    <key>K</key>
    <dict>
      <key>J</key>
      <integer>-9</integer>
      <key>S</key>
      <integer>-16</integer>
      <key>a</key>
      <integer>-10</integer>
      <key>asterisk</key>
      <integer>-9</integer>
      <key>f</key>
      <integer>-36</integer>
      <key>o</key>
      <integer>-27</integer>
      <key>question</key>
      <integer>-30</integer>
      <key>t</key>
      <integer>-52</integer>
      <key>w</key>
      <integer>-62</integer>
    </dict>
    <key>L</key>
    <dict>
      <key>T</key>
      <integer>-103</integer>
      <key>V</key>
      <integer>-101</integer>
      <key>W</key>
      <integer>-92</integer>
      <key>Y</key>
      <integer>-107</integer>
      <key>asterisk</key>
      <integer>-59</integer>
      <key>backslash</key>
      <integer>-56</integer>
      <key>f</key>
      <integer>-29</integer>
      <key>question</key>
      <integer>-55</integer>
      <key>t</key>
      <integer>-35</integer>
      <key>w</key>
      <integer>-46</integer>
    </dict>
    <key>O</key>
    <dict>
      <key>A</key>
      <integer>-32</integer>
      <key>T</key>
      <integer>-10</integer>
      <key>V</key>
      <integer>-31</integer>
      <key>W</key>
      <integer>-18</integer>
      <key>X</key>
      <integer>-44</integer>
      <key>Y</key>
      <integer>-46</integer>
      <key>Z</key>
      <integer>-13</integer>
      <key>backslash</key>
      <integer>-41</integer>
      <key>comma</key>
      <integer>-16</integer>
      <key>questiondown</key>
      <integer>-36</integer>
      <key>slash</key>
      <integer>-41</integer>
    </dict>
    <key>P</key>
    <dict>
      <key>A</key>
      <integer>-83</integer>
      <key>J</key>
      <integer>-36</integer>
      <key>S</key>
      <integer>-6</integer>
      <key>X</key>
      <integer>-13</integer>
      <key>Y</key>
      <integer>-5</integer>
      <key>backslash</key>
      <integer>-5</integer>
      <key>comma</key>
      <integer>-62</integer>
      <key>g</key>
      <integer>-15</integer>
      <key>o</key>
      <integer>-23</integer>
      <key>questiondown</key>
      <integer>-51</integer>
      <key>s</key>
      <integer>-12</integer>
      <key>slash</key>
      <integer>-50</integer>
    </dict>
    <key>Q</key>
    <dict>
      <key>J</key>
      <integer>-6</integer>
      <key>S</key>
      <integer>-12</integer>
      <key>T</key>
      <integer>-36</integer>
      <key>U</key>
      <integer>-9</integer>
      <key>V</key>
      <integer>-55</integer>
      <key>W</key>
      <integer>-43</integer>
      <key>Y</key>
      <integer>-69</integer>
      <key>asterisk</key>
      <integer>-27</integer>
      <key>backslash</key>
      <integer>-44</integer>
      <key>question</key>
      <integer>-27</integer>
      <key>w</key>
      <integer>-6</integer>
    </dict>
    <key>R</key>
    <dict>
      <key>J</key>
      <integer>-11</integer>
      <key>S</key>
      <integer>-15</integer>
      <key>T</key>
      <integer>-12</integer>
      <key>U</key>
      <integer>-19</integer>
      <key>V</key>
      <integer>-36</integer>
      <key>W</key>
      <integer>-30</integer>
      <key>Y</key>
      <integer>-46</integer>
      <key>a</key>
      <integer>-5</integer>
      <key>asterisk</key>
      <integer>-14</integer>
      <key>backslash</key>
      <integer>-44</integer>
      <key>f</key>
      <integer>-11</integer>
      <key>l</key>
      <integer>-8</integer>
      <key>o</key>
      <integer>-23</integer>
      <key>question</key>
      <integer>-19</integer>
      <key>t</key>
      <integer>-9</integer>
      <key>w</key>
      <integer>-15</integer>
    </dict>
    <key>S</key>
    <dict>
      <key>V</key>
      <integer>-21</integer>
      <key>W</key>
      <integer>-15</integer>
      <key>X</key>
      <integer>-13</integer>
      <key>Y</key>
      <integer>-30</integer>
      <key>asterisk</key>
      <integer>-9</integer>
      <key>backslash</key>
      <integer>-34</integer>
      <key>f</key>
      <integer>-22</integer>
      <key>question</key>
      <integer>-25</integer>
      <key>questiondown</key>
      <integer>-5</integer>
      <key>slash</key>
      <integer>-14</integer>
      <key>t</key>
      <integer>-20</integer>
      <key>w</key>
      <integer>-19</integer>
      <key>x</key>
      <integer>-18</integer>
    </dict>
    <key>T</key>
    <dict>
      <key>A</key>
      <integer>-89</integer>
      <key>J</key>
      <integer>-16</integer>
      <key>S</key>
      <integer>-6</integer>
      <key>a</key>
      <integer>-78</integer>
      <key>comma</key>
      <integer>-48</integer>
      <key>exclamdown</key>
      <integer>-46</integer>
      <key>f</key>
      <integer>-16</integer>
      <key>g</key>
      <integer>-75</integer>
      <key>germandbls</key>
      <integer>-5</integer>
      <key>o</key>
      <integer>-78</integer>
      <key>questiondown</key>
      <integer>-54</integer>
      <key>s</key>
      <integer>-78</integer>
      <key>semicolon</key>
      <integer>-47</integer>
      <key>slash</key>
      <integer>-52</integer>
      <key>t</key>
      <integer>-16</integer>
      <key>w</key>
      <integer>-19</integer>
      <key>x</key>
      <integer>-23</integer>
      <key>z</key>
      <integer>-46</integer>
    </dict>
    <key>V</key>
    <dict>
      <key>A</key>
      <integer>-86</integer>
      <key>J</key>
      <integer>-23</integer>
      <key>S</key>
      <integer>-29</integer>
      <key>a</key>
      <integer>-66</integer>
      <key>comma</key>
      <integer>-51</integer>
      <key>exclamdown</key>
      <integer>-43</integer>
      <key>f</key>
      <integer>-25</integer>
      <key>g</key>
      <integer>-66</integer>
      <key>germandbls</key>
      <integer>-30</integer>
      <key>o</key>
      <integer>-68</integer>
      <key>questiondown</key>
      <integer>-52</integer>
      <key>s</key>
      <integer>-68</integer>
      <key>semicolon</key>
      <integer>-43</integer>
      <key>slash</key>
      <integer>-51</integer>
      <key>t</key>
      <integer>-23</integer>
      <key>w</key>
      <integer>-22</integer>
      <key>x</key>
      <integer>-25</integer>
      <key>z</key>
      <integer>-48</integer>
    </dict>
    <key>W</key>
    <dict>
      <key>A</key>
      <integer>-78</integer>
      <key>J</key>
      <integer>-27</integer>
      <key>S</key>
      <integer>-22</integer>
      <key>a</key>
      <integer>-47</integer>
      <key>comma</key>
      <integer>-45</integer>
      <key>exclamdown</key>
      <integer>-27</integer>
      <key>f</key>
      <integer>-12</integer>
      <key>g</key>
      <integer>-54</integer>
      <key>germandbls</key>
      <integer>-20</integer>
      <key>o</key>
      <integer>-55</integer>
      <key>questiondown</key>
      <integer>-48</integer>
      <key>s</key>
      <integer>-51</integer>
      <key>semicolon</key>
      <integer>-37</integer>
      <key>slash</key>
      <integer>-48</integer>
      <key>t</key>
      <integer>-11</integer>
      <key>w</key>
      <integer>-10</integer>
      <key>x</key>
      <integer>-13</integer>
      <key>z</key>
      <integer>-35</integer>
    </dict>
    <key>X</key>
    <dict>
      <key>J</key>
      <integer>-11</integer>
      <key>S</key>
      <integer>-17</integer>
      <key>a</key>
      <integer>-12</integer>
      <key>f</key>
      <integer>-37</integer>
      <key>o</key>
      <integer>-31</integer>
      <key>question</key>
      <integer>-19</integer>
      <key>t</key>
      <integer>-44</integer>
      <key>w</key>
      <integer>-60</integer>
    </dict>
    <key>Y</key>
    <dict>
      <key>A</key>
      <integer>-94</integer>
      <key>J</key>
      <integer>-20</integer>
      <key>S</key>
      <integer>-38</integer>
      <key>a</key>
      <integer>-78</integer>
      <key>comma</key>
      <integer>-52</integer>
      <key>exclamdown</key>
      <integer>-48</integer>
      <key>f</key>
      <integer>-42</integer>
      <key>g</key>
      <integer>-77</integer>
      <key>germandbls</key>
      <integer>-40</integer>
      <key>o</key>
      <integer>-80</integer>
      <key>question</key>
      <integer>-10</integer>
      <key>questiondown</key>
      <integer>-55</integer>
      <key>s</key>
      <integer>-80</integer>
      <key>semicolon</key>
      <integer>-46</integer>
      <key>slash</key>
      <integer>-54</integer>
      <key>t</key>
      <integer>-41</integer>
      <key>w</key>
      <integer>-42</integer>
      <key>x</key>
      <integer>-46</integer>
      <key>z</key>
      <integer>-69</integer>
    </dict>
    <key>Z</key>
    <dict>
      <key>f</key>
      <integer>-18</integer>
      <key>t</key>
      <integer>-19</integer>
      <key>w</key>
      <integer>-29</integer>
    </dict>
    <key>b</key>
    <dict>
      <key>asterisk</key>
      <integer>-41</integer>
      <key>backslash</key>
      <integer>-45</integer>
      <key>exclam</key>
      <integer>-11</integer>
      <key>f</key>
      <integer>-7</integer>
      <key>question</key>
      <integer>-43</integer>
      <key>questiondown</key>
      <integer>-18</integer>
      <key>slash</key>
      <integer>-28</integer>
      <key>t</key>
      <integer>-5</integer>
      <key>w</key>
      <integer>-10</integer>
      <key>x</key>
      <integer>-24</integer>
    </dict>
    <key>c</key>
    <dict>
      <key>asterisk</key>
      <integer>-15</integer>
      <key>backslash</key>
      <integer>-45</integer>
      <key>question</key>
      <integer>-39</integer>
      <key>slash</key>
      <integer>-5</integer>
      <key>x</key>
      <integer>-10</integer>
    </dict>
    <key>e</key>
    <dict>
      <key>asterisk</key>
      <integer>-34</integer>
      <key>backslash</key>
      <integer>-45</integer>
      <key>question</key>
      <integer>-41</integer>
      <key>questiondown</key>
      <integer>-9</integer>
      <key>slash</key>
      <integer>-12</integer>
      <key>w</key>
      <integer>-11</integer>
      <key>x</key>
      <integer>-17</integer>
    </dict>
    <key>f</key>
    <dict>
      <key>comma</key>
      <integer>-47</integer>
      <key>o</key>
      <integer>-5</integer>
      <key>questiondown</key>
      <integer>-48</integer>
      <key>slash</key>
      <integer>-41</integer>
    </dict>
    <key>g</key>
    <dict>
      <key>backslash</key>
      <integer>-44</integer>
      <key>o</key>
      <integer>-12</integer>
      <key>s</key>
      <integer>-11</integer>
    </dict>
    <key>germandbls</key>
    <dict>
      <key>asterisk</key>
      <integer>-7</integer>
      <key>backslash</key>
      <integer>-37</integer>
      <key>f</key>
      <integer>-12</integer>
      <key>question</key>
      <integer>-14</integer>
      <key>t</key>
      <integer>-11</integer>
      <key>w</key>
      <integer>-15</integer>
    </dict>
    <key>h</key>
    <dict>
      <key>asterisk</key>
      <integer>-40</integer>
      <key>backslash</key>
      <integer>-45</integer>
      <key>exclam</key>
      <integer>-6</integer>
      <key>f</key>
      <integer>-5</integer>
      <key>question</key>
      <integer>-42</integer>
      <key>w</key>
      <integer>-9</integer>
    </dict>
    <key>k</key>
    <dict>
      <key>asterisk</key>
      <integer>-11</integer>
      <key>backslash</key>
      <integer>-46</integer>
      <key>l</key>
      <integer>-8</integer>
      <key>o</key>
      <integer>-32</integer>
    </dict>
    <key>l</key>
    <dict>
      <key>asterisk</key>
      <integer>-24</integer>
      <key>backslash</key>
      <integer>-32</integer>
      <key>f</key>
      <integer>-18</integer>
      <key>question</key>
      <integer>-30</integer>
      <key>t</key>
      <integer>-16</integer>
      <key>w</key>
      <integer>-24</integer>
    </dict>
    <key>o</key>
    <dict>
      <key>asterisk</key>
      <integer>-34</integer>
      <key>backslash</key>
      <integer>-45</integer>
      <key>question</key>
      <integer>-42</integer>
      <key>questiondown</key>
      <integer>-23</integer>
      <key>slash</key>
      <integer>-20</integer>
      <key>w</key>
      <integer>-11</integer>
      <key>x</key>
      <integer>-30</integer>
      <key>z</key>
      <integer>-5</integer>
    </dict>
    <key>p</key>
    <dict>
      <key>asterisk</key>
      <integer>-33</integer>
      <key>backslash</key>
      <integer>-45</integer>
      <key>question</key>
      <integer>-41</integer>
      <key>questiondown</key>
      <integer>-18</integer>
      <key>slash</key>
      <integer>-17</integer>
      <key>w</key>
      <integer>-10</integer>
      <key>x</key>
      <integer>-24</integer>
    </dict>
    <key>public.kern1.A</key>
    <dict>
      <key>public.kern2.C</key>
      <integer>-32</integer>
      <key>public.kern2.c</key>
      <integer>-7</integer>
      <key>public.kern2.quoteleft</key>
      <integer>-52</integer>
      <key>public.kern2.quoteright</key>
      <integer>-50</integer>
      <key>public.kern2.v</key>
      <integer>-58</integer>
    </dict>
    <key>public.kern1.AE</key>
    <dict>
      <key>public.kern2.guilsinglleft</key>
      <integer>-20</integer>
      <key>public.kern2.guilsinglright</key>
      <integer>-10</integer>
      <key>public.kern2.quotedblright</key>
      <integer>-5</integer>
    </dict>
    <key>public.kern1.B</key>
    <dict>
      <key>public.kern2.quoteleft</key>
      <integer>-11</integer>
      <key>public.kern2.v</key>
      <integer>-12</integer>
    </dict>
    <key>public.kern1.E</key>
    <dict>
      <key>public.kern2.v</key>
      <integer>-16</integer>
    </dict>
    <key>public.kern1.F</key>
    <dict>
      <key>public.kern2.c</key>
      <integer>-24</integer>
      <key>public.kern2.m</key>
      <integer>-30</integer>
      <key>public.kern2.v</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.G</key>
    <dict>
      <key>public.kern2.quoteleft</key>
      <integer>-8</integer>
    </dict>
    <key>public.kern1.J</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-24</integer>
      <key>public.kern2.questiondown</key>
      <integer>-29</integer>
      <key>public.kern2.slash</key>
      <integer>-37</integer>
    </dict>
    <key>public.kern1.K</key>
    <dict>
      <key>public.kern2.C</key>
      <integer>-45</integer>
      <key>public.kern2.c</key>
      <integer>-27</integer>
      <key>public.kern2.quoteleft</key>
      <integer>-37</integer>
      <key>public.kern2.v</key>
      <integer>-68</integer>
    </dict>
    <key>public.kern1.L</key>
    <dict>
      <key>public.kern2.C</key>
      <integer>-9</integer>
      <key>public.kern2.quoteleft</key>
      <integer>-60</integer>
      <key>public.kern2.quoteright</key>
      <integer>-160</integer>
      <key>public.kern2.v</key>
      <integer>-69</integer>
    </dict>
    <key>public.kern1.P</key>
    <dict>
      <key>public.kern2.c</key>
      <integer>-23</integer>
    </dict>
    <key>public.kern1.Q</key>
    <dict>
      <key>public.kern2.quoteleft</key>
      <integer>-11</integer>
      <key>public.kern2.quoteright</key>
      <integer>-8</integer>
      <key>public.kern2.v</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1.R</key>
    <dict>
      <key>public.kern2.C</key>
      <integer>-18</integer>
      <key>public.kern2.c</key>
      <integer>-22</integer>
      <key>public.kern2.quoteleft</key>
      <integer>-11</integer>
      <key>public.kern2.quoteright</key>
      <integer>-5</integer>
      <key>public.kern2.v</key>
      <integer>-14</integer>
    </dict>
    <key>public.kern1.S</key>
    <dict>
      <key>public.kern2.quoteleft</key>
      <integer>-36</integer>
      <key>public.kern2.quoteright</key>
      <integer>-16</integer>
      <key>public.kern2.v</key>
      <integer>-32</integer>
    </dict>
    <key>public.kern1.T</key>
    <dict>
      <key>public.kern2.C</key>
      <integer>-10</integer>
      <key>public.kern2.c</key>
      <integer>-78</integer>
      <key>public.kern2.m</key>
      <integer>-53</integer>
      <key>public.kern2.pamudpod</key>
      <integer>-200</integer>
      <key>public.kern2.v</key>
      <integer>-17</integer>
    </dict>
    <key>public.kern1.V</key>
    <dict>
      <key>public.kern2.C</key>
      <integer>-31</integer>
      <key>public.kern2.c</key>
      <integer>-68</integer>
      <key>public.kern2.m</key>
      <integer>-56</integer>
      <key>public.kern2.quoteleft</key>
      <integer>-10</integer>
      <key>public.kern2.v</key>
      <integer>-19</integer>
    </dict>
    <key>public.kern1.W</key>
    <dict>
      <key>public.kern2.C</key>
      <integer>-18</integer>
      <key>public.kern2.c</key>
      <integer>-56</integer>
      <key>public.kern2.m</key>
      <integer>-38</integer>
      <key>public.kern2.v</key>
      <integer>-7</integer>
    </dict>
    <key>public.kern1.X</key>
    <dict>
      <key>public.kern2.C</key>
      <integer>-43</integer>
      <key>public.kern2.c</key>
      <integer>-30</integer>
      <key>public.kern2.quoteleft</key>
      <integer>-33</integer>
      <key>public.kern2.v</key>
      <integer>-59</integer>
    </dict>
    <key>public.kern1.Y</key>
    <dict>
      <key>public.kern2.C</key>
      <integer>-45</integer>
      <key>public.kern2.c</key>
      <integer>-80</integer>
      <key>public.kern2.m</key>
      <integer>-75</integer>
      <key>public.kern2.quoteleft</key>
      <integer>-20</integer>
      <key>public.kern2.v</key>
      <integer>-40</integer>
    </dict>
    <key>public.kern1.Z</key>
    <dict>
      <key>public.kern2.C</key>
      <integer>-13</integer>
      <key>public.kern2.quoteleft</key>
      <integer>-12</integer>
      <key>public.kern2.v</key>
      <integer>-26</integer>
    </dict>
    <key>public.kern1.a</key>
    <dict>
      <key>public.kern2.asterisk</key>
      <integer>-29</integer>
      <key>public.kern2.backslash</key>
      <integer>-45</integer>
      <key>public.kern2.question</key>
      <integer>-40</integer>
      <key>public.kern2.v</key>
      <integer>-14</integer>
      <key>public.kern2.w</key>
      <integer>-9</integer>
    </dict>
    <key>public.kern1.a-baybayin</key>
    <dict>
      <key>public.kern2.pamudpod</key>
      <integer>-170</integer>
    </dict>
    <key>public.kern1.ae</key>
    <dict>
      <key>public.kern2.lslash</key>
      <integer>10</integer>
      <key>public.kern2.quotedblleft</key>
      <integer>-40</integer>
      <key>public.kern2.quotedblright</key>
      <integer>-40</integer>
    </dict>
    <key>public.kern1.b</key>
    <dict>
      <key>public.kern2.quoteleft</key>
      <integer>-27</integer>
      <key>public.kern2.quoteright</key>
      <integer>-35</integer>
      <key>public.kern2.v</key>
      <integer>-17</integer>
    </dict>
    <key>public.kern1.c</key>
    <dict>
      <key>public.kern2.v</key>
      <integer>-5</integer>
    </dict>
    <key>public.kern1.da-baybayin</key>
    <dict>
      <key>public.kern2.pamudpod</key>
      <integer>-40</integer>
    </dict>
    <key>public.kern1.e</key>
    <dict>
      <key>public.kern2.quoteleft</key>
      <integer>-6</integer>
      <key>public.kern2.quoteright</key>
      <integer>-10</integer>
      <key>public.kern2.v</key>
      <integer>-17</integer>
    </dict>
    <key>public.kern1.f</key>
    <dict>
      <key>public.kern2.c</key>
      <integer>-5</integer>
    </dict>
    <key>public.kern1.g</key>
    <dict>
      <key>public.kern2.c</key>
      <integer>-13</integer>
    </dict>
    <key>public.kern1.germandbls</key>
    <dict>
      <key>public.kern2.quoteleft</key>
      <integer>-15</integer>
      <key>public.kern2.quoteright</key>
      <integer>-5</integer>
      <key>public.kern2.v</key>
      <integer>-14</integer>
    </dict>
    <key>public.kern1.guilsinglleft</key>
    <dict>
      <key>public.kern2.lslash</key>
      <integer>-6</integer>
    </dict>
    <key>public.kern1.guilsinglright</key>
    <dict>
      <key>public.kern2.lslash</key>
      <integer>20</integer>
    </dict>
    <key>public.kern1.h</key>
    <dict>
      <key>public.kern2.quoteleft</key>
      <integer>-20</integer>
      <key>public.kern2.quoteright</key>
      <integer>-28</integer>
      <key>public.kern2.v</key>
      <integer>-14</integer>
    </dict>
    <key>public.kern1.k</key>
    <dict>
      <key>public.kern2.c</key>
      <integer>-32</integer>
    </dict>
    <key>public.kern1.l</key>
    <dict>
      <key>public.kern2.quoteleft</key>
      <integer>-25</integer>
      <key>public.kern2.quoteright</key>
      <integer>-18</integer>
      <key>public.kern2.v</key>
      <integer>-28</integer>
    </dict>
    <key>public.kern1.m</key>
    <dict>
      <key>public.kern2.f</key>
      <integer>-10</integer>
      <key>public.kern2.v</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.o</key>
    <dict>
      <key>public.kern2.quoteleft</key>
      <integer>-10</integer>
      <key>public.kern2.quoteright</key>
      <integer>-14</integer>
      <key>public.kern2.v</key>
      <integer>-19</integer>
    </dict>
    <key>public.kern1.p</key>
    <dict>
      <key>public.kern2.quoteright</key>
      <integer>-7</integer>
      <key>public.kern2.v</key>
      <integer>-16</integer>
    </dict>
    <key>public.kern1.pa-baybayin</key>
    <dict>
      <key>public.kern2.pamudpod</key>
      <integer>-110</integer>
    </dict>
    <key>public.kern1.period</key>
    <dict>
      <key>public.kern2.lslash</key>
      <integer>-24</integer>
    </dict>
    <key>public.kern1.quotedblright</key>
    <dict>
      <key>public.kern2.lslash</key>
      <integer>-30</integer>
    </dict>
    <key>public.kern1.quoteright</key>
    <dict>
      <key>public.kern2.c</key>
      <integer>-60</integer>
      <key>public.kern2.m</key>
      <integer>-80</integer>
    </dict>
    <key>public.kern1.r</key>
    <dict>
      <key>public.kern2.a</key>
      <integer>-8</integer>
      <key>public.kern2.c</key>
      <integer>-24</integer>
      <key>public.kern2.g</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.s</key>
    <dict>
      <key>public.kern2.v</key>
      <integer>-12</integer>
    </dict>
    <key>public.kern1.seven</key>
    <dict>
      <key>public.kern2.fraction</key>
      <integer>-70</integer>
    </dict>
    <key>public.kern1.slash</key>
    <dict>
      <key>public.kern2.slash</key>
      <integer>-110</integer>
    </dict>
    <key>public.kern1.v</key>
    <dict>
      <key>public.kern2.a</key>
      <integer>-6</integer>
      <key>public.kern2.backslash</key>
      <integer>-31</integer>
      <key>public.kern2.c</key>
      <integer>-19</integer>
      <key>public.kern2.comma</key>
      <integer>-41</integer>
      <key>public.kern2.g</key>
      <integer>-16</integer>
      <key>public.kern2.o</key>
      <integer>-20</integer>
      <key>public.kern2.questiondown</key>
      <integer>-43</integer>
      <key>public.kern2.s</key>
      <integer>-11</integer>
      <key>public.kern2.slash</key>
      <integer>-42</integer>
    </dict>
    <key>public.kern1.w</key>
    <dict>
      <key>public.kern2.c</key>
      <integer>-12</integer>
    </dict>
    <key>public.kern1.x</key>
    <dict>
      <key>public.kern2.c</key>
      <integer>-29</integer>
    </dict>
    <key>public.kern1.ya</key>
    <dict>
      <key>public.kern2.pamudpod</key>
      <integer>-140</integer>
    </dict>
    <key>r</key>
    <dict>
      <key>backslash</key>
      <integer>-35</integer>
      <key>comma</key>
      <integer>-49</integer>
      <key>questiondown</key>
      <integer>-48</integer>
      <key>s</key>
      <integer>-13</integer>
      <key>slash</key>
      <integer>-46</integer>
    </dict>
    <key>s</key>
    <dict>
      <key>asterisk</key>
      <integer>-19</integer>
      <key>backslash</key>
      <integer>-45</integer>
      <key>question</key>
      <integer>-38</integer>
      <key>w</key>
      <integer>-8</integer>
      <key>x</key>
      <integer>-10</integer>
    </dict>
    <key>t</key>
    <dict>
      <key>backslash</key>
      <integer>-42</integer>
    </dict>
    <key>w</key>
    <dict>
      <key>backslash</key>
      <integer>-34</integer>
      <key>comma</key>
      <integer>-37</integer>
      <key>g</key>
      <integer>-10</integer>
      <key>o</key>
      <integer>-11</integer>
      <key>questiondown</key>
      <integer>-40</integer>
      <key>s</key>
      <integer>-6</integer>
      <key>slash</key>
      <integer>-39</integer>
    </dict>
    <key>x</key>
    <dict>
      <key>a</key>
      <integer>-8</integer>
      <key>backslash</key>
      <integer>-38</integer>
      <key>o</key>
      <integer>-30</integer>
    </dict>
    <key>z</key>
    <dict>
      <key>backslash</key>
      <integer>-45</integer>
    </dict>
  </dict>
</plist>
